extends layout

block content
  h1= title
  p Welcome to #{title}

  #twitterfeed <a class="twitter-timeline" data-width="100%" data-height="100%" href="https://twitter.com/UofDenver?ref_src=twsrc%5Etfw">Tweets by UofDenver</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  
  p pug is looking to be more of a challenge than I thought it would be to understand, but I'm working at it.

  p For example, linking to <a href = "//google.com"> google </a> isn't too much different from plain old HTML.
  p I could also link to the next page, for example. <a href = "/info">That one</a> is a little less well put together, but it shows you what I plan to be doing!
  p Look at this rabbit!
  <img src='./public/images/1.jpg'>
  #video <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Dxcc6ycZ73M" title="YouTube video player" frameborder="1" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  document.getElementById('test').innerHTML